# Neon PostgreSQL Connection String (con Connection Pooler pgbouncer)
DATABASE_URL="postgresql://neondb_owner:password@ep-sample-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require"

# Neon PostgreSQL Direct Connection String (para Prisma Migrations)
DIRECT_URL="postgresql://neondb_owner:password@ep-sample.us-east-2.aws.neon.tech/neondb?sslmode=require"

# Autenticación JWT
JWT_SECRET="visionweb_super_secret_jwt_key_latam_2026"

# App URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"
